@import "tailwindcss";

html {
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
  font-family: satoshi, sans-serif;
}

@layer components {
  .card-base {
    @apply relative rounded-lg bg-neutral-50 shadow-xl;
  }

  .form-input {
    @apply shadow-sm bg-neutral-100 border border-gray-300 text-gray-900 text-sm rounded-lg focus:outline-none focus:ring-purple-300 focus:ring-2 block w-full;
  }

  .form-label {
    @apply block mb-2 text-sm font-medium text-gray-900;
  }
}
